<% if !mobile? %>
<div class="hide-ios">
  <!-- <%= raw Setting.index_html %> -->
  <div class="card hidden-xs">
    <div class="card-body" style="text-align: center;">
      <div class="media" style="">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <% ['banner1.jpg', 'banner2.jpg', 'banner3.jpg'].each do |url| %>
              <div class='swiper-slide'>
                <img src= <%= "/images/#{url}" %> />
              </div>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-md-5">
        <div class="card">
            <div class="card-header">Sign In</div>
            <div class="card-body">
              <form class="new_user" id="new_user" action="/account/sign_in" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
                <div class="form-group">
                  <input class="form-control input-lg" placeholder="用户名 / Email" type="text" name="user[login]" id="user_login">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="密码" name="user[password]" id="user_password">
                </div>

                <div class="form-group from-check">
                  <label class="form-check-label" for="user_remember_me">
                    <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
                    Remember me (2 months)
                  </label>
                </div>

                <div class="form-actions">
                  <input type="submit" name="commit" value="Sign In" class="btn btn-primary btn-lg btn-block" data-disable-with="Sign In...">
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row home-icons hidden-sm hidden-xs">
    <div class="col-md-2">
      <div class="item item1">
        <div class="icon">
          <a href="/topics"><img src="/images/pic1.jpg"></a>
        </div>
        <div class="text">
          <a href="/topics">房源租售 <i class="pull-right fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="item item2">
        <div class="icon">
          <a href="/wiki"><img src="/images/pic2.jpg"></a>
        </div>
        <div class="text">
          <a href="/wiki">求职招聘 <i class="pull-right fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="item item3">
        <div class="icon">
          <a href="/jobs"><img src="/images/pic3.jpg"></a>
        </div>
        <div class="text">
          <a href="/jobs">餐饮娱乐 <i class="pull-right fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="item item4">
        <div class="icon">
          <a href="/topics/popular"><img src="/images/pic4.jpg"></a>
        </div>
        <div class="text">
          <a href="/topics/popular">游山玩水 <i class="pull-right fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="item item4">
        <div class="icon">
          <a href="/topics/popular"><img src="/images/pic5.jpg"></a>
        </div>
        <div class="text">
          <a href="/topics/popular">商家中心 <i class="pull-right fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="item item4">
        <div class="icon">
          <a href="/topics/popular"><img src="/images/pic6.jpg"></a>
        </div>
        <div class="text">
          <a href="/topics/popular">社区小喇叭 <i class="pull-right fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="home_suggest_topics card">
  <div class="card-header hidden-mobile">社区精华帖</div>
  <div class="card-body topics row">
    <% cache(["home_suggest_topics", @excellent_topics]) do %>
    <%
      odd_topics, even_topics = @excellent_topics.partition.each_with_index { |t, i| i.odd?  }
    %>
    <div class="col-md-6 topics-group">
      <%= render partial: "topics/topic", collection: even_topics, locals: { suggest: false } %>
    </div>

    <div class="col-md-6 topics-group">
      <%= render partial: "topics/topic", collection: odd_topics, locals: { suggest: false } %>
    </div>
    <% end %>
  </div>
  <div class="card-footer hidden-mobile">
    <%= link_to "查看更多精华帖...", excellent_topics_path %>
  </div>
</div>

<% if !mobile? %>
  <%= render "/shared/index_sections" %>
  <%= render "/shared/hot_locations" %>
<% end %>
