<% title_tag t("users.register_user") %>

<div class="row">
  <div class="col"></div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">手机注册</div>
      <div class="card-body">
        <%= form_for resource, as: resource_name, url: create_with_mobile_account_path(resource_name), remote: true do |f| %>
        <div class="form-group">
          <%= f.text_field :login, class: "form-control input-lg", placeholder: t("users.login"), hint: t("users.suggest_using_twitter_id") %>
        </div>
        <div class="form-group">
          <div class="input-group">
              <%= f.number_field :mobile_phone, class: 'form-control input-lg', id: 'phone', placeholder: '11位手机号' %>
              <span class="input-group-addon ml-2"><a class="btn btn-success" id="J_getCode" onclick="getCode(this)">获取验证码</a></span>
              <span class="input-group-addon ml-2"><a class="btn btn-warning" id="J_resetCode" style="display: none;"><span id="J_second">60</span>秒后重发</a></span>
          </div>
        </div>
        <div class="form-group">
          <%= text_field_tag :verify_message_code, nil, class: "form-control input-lg", placeholder: "验证码" %>
        </div>
        <div class="form-group">
        <%= f.password_field :password, class: "form-control input-lg", placeholder: "密码默认手机号后六位" %>
        </div>
        <div class="form-group">
        <%= f.password_field :password_confirmation, class: "form-control input-lg", placeholder: '密码默认手机号后六位' %>
        </div>

        <div class="form-group">
          <%= f.submit t('users.submit_new_user'), class: "btn btn-lg btn-primary", 'data-disable-with' => t("common.submitting") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="col">
      <div class="card">
        <div class="card-header"><%= t("common.auth_with_other_services") %></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to raw("<i class='fa fa-wechat'></i> 微信"), omniauth_authorize_path(:user, mobile? ? :wechat : :open_wechat), class: "btn btn-default btn-lg btn-block " + (mobile? ? '' : 'open-wechat') %>
          </li>
          <li class="list-group-item">
            <%= link_to raw("<i class='fa fa-envelope'></i> 邮箱"), new_user_registration_path, class: "btn btn-default btn-lg btn-block" %>
          </li>
          <% if Setting.has_module? :github %>
          <li class="list-group-item">
            <%= link_to raw("<i class='fa fa-github'></i> GitHub"), omniauth_authorize_path(:user, :github), class: "btn btn-default btn-lg btn-block" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
